@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
    font-family: 'Lexend Deca';

}
.container{
    padding: 20px;
    margin: auto;
    max-width: 370px;
}
h1{
    font-weight: 700;
    font-family: 'Big Shoulders Display';
    color: hsl(0, 0%, 95%);
    padding-left: 50px;
    text-transform: uppercase;
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    padding: 30px 57px 10px;
    text-align: left;
    line-height: 1.5;
}
img{
    padding: 30px 30px 15px;
    margin: 20px;
}
.sedans{
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 10px 0 0; 
}
.sedans button{
    color: hsl(31, 77%, 52%);
}
.suvs{
    background-color: hsl(184, 100%, 22%);
}
.suvs button{
    color: hsl(184, 100%, 22%);
}
.luxury{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0 10px 10px;
}
.luxury button{
    color: hsl(179, 100%, 13%);
}
.button{
    padding: 10px 25px;
    margin: 55px;
    margin-top: 10px;
    border-radius: 50px;
    border: 2px solid hsl(0, 0%, 95%);
    transition: 0.3s;
    cursor: pointer;
}
.button:hover{
    background-color: transparent;
    color: hsl(0, 0%, 95%);
}

.attribution {
     font-size: 11px; 
     text-align: center; 
     padding: 50px;
    }
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 992px){
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 1000px;
        min-height: 500px;
        margin-top: 150px;
    }
    .sedans{
        border-radius: 10px 0 0 10px;
    }
    .luxury{
        border-radius: 0 10px 10px 0;
    }
    .button{
        margin-top: 60px;
        margin-left: 55px;
    }
}